/* common shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.section-heading {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    /* width: 590px; */
}



/* header related styles */
.header {
    background-color: rgba(229, 84, 115, 0.1);

}

.banner-container {
    display: flex;
    justify-content: space-around;

}

.banner-description {
    margin-left: 150px;
    margin-top: 190px;
    max-width: 700px;
}

.banner-description h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    width: 708px;

}


.banner-img {
    margin: 50px 70px 0px 0px;
}

.banner-description p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 30px 0px 30px 0px;

}

button{
    padding: 10px 20px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* body related styles */

.featured-section {
    padding-top: 130px;
    padding-bottom: 40px;
}

.purple {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 280px;
    height: 320px;
    padding: 110px 78px 0px 76px;
    /* margin: 0px 15px 0px 240px ; */
    margin-right: 15px;
    margin-left: 240px;
}

.bouquet {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 280px;
    height: 320px;
    padding: 100px 47px 10px 47px;
    margin-right: 15px;

}

.yellow {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 280px;
    height: 320px;
    padding: 110px 55px 0px 55px;
    margin-right: 240px;
}

.Features {
    max-width: 950px;
    /* margin-left: 300px; */
    /* margin-right: 300px; */
    margin: 0px auto;
}

.Feature {
    display: flex;
    justify-content: space-around;
    /* gap: 10px; */
}

.flowers-name {
    color: #272727;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    /* margin: 0px 300px 0px 300px; */
    row-gap: 360px;
    margin-top: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.icons-title {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    gap: 40px;
}

.facilities {
    max-width: 1120px;
    margin: 100px auto 10px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 150px;
    padding-top: 45px;
}

.icons img {
    width: 66px;
    height: 66px;

}

.icons-title .it2 {
    margin-right: 80px;

}

.icons-title .it3 {
    margin-right: 60px;
}

span {
    color: #E55473;
    font-family: Lato;
    font-size: 25px;
}

.Deal {
    color: #272727;
    font-family: Lato;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    /* padding-top: 150px; */
}

.detailes {
    color: rgba(39, 39, 39, 0.60);
    /* text-align: center; */
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
    /* 166.667% */
}
.hot-deal{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin: 80px 0px;
}
.Hot-deal-detailes{
    width: 594px;
    text-align: center;
    padding-top: 180px;
}
.hot-deal img{
    width: 250px;
    height: 300px;
    /* padding-right: 150px; */
    /* padding-top: 100px; */
    padding: 100px 150px 30px 0px;
}
.flowers{
    display: flex;
    justify-content: space-around;
    max-width: 950px;
    margin: 30px auto 100px;
    gap: 15px;
}
.flowers img{
    width: 300px;
    height: 320px;

}
#Email{
    width: 500px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 50px;

}
.email-button{
    /* display: inline; */
    text-align: center;
    gap: 18px;
    margin-top: 40px;
}
.subscribe-section{
    margin-top: 150px;
    border-radius: 8px;
    background: url(Rectangle\ 9.png), lightgray ;
    background-repeat: no-repeat;
    padding-top: 100px;
    width: 1150px;
    height: 200px;
    margin: 0px auto;
}
