/* common shared styles */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
}

.banner-container {
    width: 1530px;
    height: 850px;
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
}

.banner-description {
    margin-left: 150px;
    margin-top: 190px;
}

.banner-description h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    width: 708px;

}

.banner-img {
    margin: 50px 100px 0px 0px;
}

.banner-description p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    margin: 30px 0px 30px 0px;

}

.banner-description button {
    display: inline-flex;
    padding: 20px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}